## Sample CSV

Name, Age, Salary, Department
Alice, 25, 50000, HR
Bob, 30, 60000, IT
Charlie, 22, 45000, Marketing
David, 35, 70000, Finance
Emma, 28, 55000, HR
Frank, 32, 62000, IT
Grace, 26, 52000, Marketing
Henry, 40, 80000, Finance
Isabel, 29, 58000, IT
Jack, 24, 48000, Marketing
Kelly, 31, 65000, HR
Liam, 27, 53000, IT
Mia, 33, 68000, Finance
Nora, 23, 47000, Marketing
Oscar, 36, 75000, HR
Paul, 34, 72000, IT
Quinn, 28, 56000, Finance
Rachel, 39, 78000, Marketing
Sam, 30, 61000, HR
Tina, 25, 51000, IT

# Exercise 1: Loading and Summarizing Data

Create a Python program that uses Pandas to read a CSV file and provides a summary of the data. Use a sample CSV file with data. Display the first few rows of the DataFrame, as well as basic statistics such as mean, median, and standard deviation.

In [19]:
!pip install pandas

import pandas as pd

df = pd.read_csv(r'C:\Users\Lenovo\Documents\ID INFO\SOURCE_FUSE\ai-ml-assignments-main\TestDatanew (1).csv')

df.head()

df.tail()

df.info()

mean = df['Salary'].mean()
print (mean)
median = df['Salary'].median()
print (median)
mode = df['Salary'].mode()
print (mode)
standard_deviation = df['Salary'].std()
print (standard_deviation)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        20 non-null     object
 1   Age         20 non-null     int64
 2   Salary      20 non-null     int64
 3   Department  20 non-null     object
dtypes: int64(2), object(2)
memory usage: 772.0+ bytes
60748.45
60930.0
0     30831
1     31645
2     38629
3     41918
4     45073
5     45771
6     48975
7     50553
8     60484
9     60582
10    61278
11    64130
12    67812
13    68040
14    68798
15    74371
16    78671
17    80762
18    97574
19    99072
Name: Salary, dtype: int64
19480.548604819553

# Exercise 2: Data Filtering and Selection

Extend the previous program to filter and display specific information from the DataFrame. For example, select and display rows where the age is greater than 25.

In [20]:
filtered_df = df[df['Age']>25]
print(filtered_df)

         Name  Age  Salary Department
1   Madeleine   50   67812         IT
2     Roberta   44   50553  Marketing
3      Dennie   37   41918         IT
4       Wanda   55   78671         IT
5       Ruthe   55   48975    Finance
6       Nelle   37   68040         IT
7      Adelle   44   45771         IT
8      Adelle   57   61278         HR
9    Cherilyn   68   31645  Marketing
10     Joelly   58   97574  Marketing
11  Jacquetta   66   30831         IT
13      Lorie   46   68798    Finance
14    Juliane   33   60484         IT
15     Lolita   42   64130    Finance
16      Ronna   51   80762  Marketing
17     Briney   56   74371  Marketing
18    Melodie   56   45073  Marketing
19      Barbi   28   60582    Finance

# Exercise 3: Data Aggregation and Grouping

Create a Python program that demonstrates data aggregation using Pandas. Group the data by the 'Department' column and calculate the Average, Min and Max salary for each Department.

In [21]:
salary_stats = df.groupby('Department')['Salary'].agg(['mean', 'min', 'max'])
salary_stats.columns = ['Average Salary', 'Min Salary', 'Max Salary']
print("Salary stats for Department :: ")
print(salary_stats)

Salary stats for Department ::
            Average Salary  Min Salary  Max Salary
Department
Finance       68311.400000       48975       99072
HR            61278.000000       61278       61278
IT            54019.500000       30831       78671
Marketing     63329.666667       31645       97574